#map {
    width:100%;
}

.about-image {
    width: auto;
    height: auto;
    background-image: url("../images/about-us-image-edited.jpg");
    background-position: center;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.25em;
    margin: 1em 0;
    font-size: larger;
}

#about-header{
    color: white;
}
.vision-mission {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

#quote{
    font-style: italic;
}

.contact-table{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.contact-link{
    text-decoration: underline;
}
