.attractions-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
  min-width: 0;
  height: auto;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attractions-card {
  width: auto;
  height: auto;
  min-height: 256px;
  background-color: lightgray;
  border-radius: 0.5em;
  vertical-align: bottom;
  display: flex;
  background-size: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.attractions-card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
}

#attractions-card-1 {
  background-image: url(../images/roller-coaster-resized.jpg);
}

#attractions-card-2 {
  background-image: url(../images/sample_card_image_640x450.jpg);
}

#attractions-card-3 {
  background-image: url(../images/exotic-animals-resized.jpg);
}

.attractions-header-div {
  align-self: flex-end;
  width: 100%;
}

.attractions-header {
  font-size: 3em;
  font-style: normal;
  color: white;
  text-align: center;
  margin: auto;
  vertical-align: bottom;
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}

#cell-image {
  width: 200px;
}


.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


.pagination a.active {
  background-color: dodgerblue;
  color: white;
}


.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.all-attractions {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
}

.attractions-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attractions-info {
  font-size: large;
}