/* Header and Footer */
header {
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0px;
    overflow: hidden;
    background-color: #033603;
    z-index: 2;
}

.logo {
    float: left;
    height: 2.7em;
    width: auto;
    margin: 1em;
}

.header-menu {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: auto;
}

.header-menu-link:hover {
    background-color: #05800596;
    color: white;

}

.header-menu-link {
    float: right;
    font-family: 'Open Sans';
    font-size: 1.25em;
    font-weight: 300;
    color: #E0F0E3;
    padding: 1.1em;
    text-align: center;
    transition: all 1s;

}

footer {
    height: auto;
    background-color: #412722;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: auto;
    max-width: fit-content;
    margin: auto;
    padding-top: 32px;
    align-items: center;
    column-gap: 2em;
}

h1.footer {
    margin: auto;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    color: black;
    grid-column: 2 / span 2;
    grid-row: 1;
    width: 448px;
}

.logo-footer {
    width: 18em;
    margin: auto;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
    display: block;
    margin: auto;
}

.footer-link {
    float: right;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    color: #CBBCB9;
    grid-column: 2;
}

#footer-attractions-link {
    grid-row: 1;
}

#footer-about-link {
    grid-row: 2;
}

.footer-social-media {
    width: auto;
    height: auto;
    margin: auto;
    grid-column: 3;
    grid-row: 1 / span 2;
}

.footer-social-media-h1 {
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 16px;
    width: 100%;
    color: #CBBCB9;
}

.footer-social-media-img {
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 32px;
}

.footer-copyright {
    margin: auto;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    color: white;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: black;
}

em {
    width: max-content;
    display: inline;
}

/* Common Styles */
button {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #e9924f;
    color: black;
    transition: all 0.25s;
}

button:hover {
    background-color: #e5c199;
}

/* Content and Main Body */
body {
    margin: 0;
    font-family: 'Open Sans';
    background-color: #E0F0E3;
}

.main-body {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    min-width: 352px;
    max-width: 1440px;
    align-self: center;
    display: block;
    margin: auto;
    background-color: #E0F0E3;
    padding-bottom: 2em;
}

.main-body-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 32px;
    width: 100%;
    min-width: 0px;

}

.main-content {
    width: 100%;
}

.sidebar {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}

.social-media {
    width: auto;
    height: auto;
    margin: auto;
}

.social-media-h1 {
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-top: 16px;
    width: 100%
}

.social-media-img-container {
    display: block;
    width: max-content;
    height: auto;
    margin: auto;
    margin-bottom: 16px;
}

.social-media-img {
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 32px;
}

.social-media-feed {
    overflow-y: scroll;
    height: 768px;
    display: grid;
    background-color: #d0dfd3;
    padding: 12px;
    width: auto;
    max-width: 352px;
    
}

.social-media-feed-article {
    display: grid;
    grid-template-columns: 64px auto;
    grid-template-rows: min-content min-content auto auto;
    height: auto;
    column-gap: 0.5em;
    margin-bottom: 16px;
}

.social-media-feed-article-profile {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 4em;
    height: 4em;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
}

.social-media-feed-article-profile-name {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.social-media-feed-article-profile-user {
    grid-column: 2;
    grid-row: 2;
    font-size: 1.25em;
    font-weight: normal;;
    margin: 0;
}

.social-media-feed-article-content {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
    height: min-content;
}

.social-media-feed-article-image {
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}