/* Header and Footer */
header {
    position: sticky;
    background-color: lightgray;
    width: 100%;
    height: 96px;
    top: 0px;
}

.logo {
    float: left;
    height: 64px;
    margin: 16px;
}

h1.title {
    float: left;
    margin-top: 14px;
    font-size: 52px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.header-link {
    float: right;
    margin-top: 32px;
    margin-right: 32px;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    color: black;
}

footer {
    height: auto;
    background-color: lightgray;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: auto;
    max-width: 704px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 16px;
}

h1.footer {
    margin: auto;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    color: black;
    grid-column: 2 / span 2;
    grid-row: 1;
    width: 448px;
}

.logo-footer {
    height: 192px;
    margin: 16px;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
    display: block;
    margin: auto;
}

.footer-link {
    float: right;
    margin-top: 8px;
    margin-right: 32px;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    color: black;
    grid-row: 2;
}

.footer-copyright {
    grid-column: 1 / span 3;
    grid-row: 3;
    margin: auto;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    color: black;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: black;
}

/* Content and Main Body */
body {
    margin: 0;
    font-family: 'Roboto';
}

content {
    align-items: center;
    margin-top: 96px;
}

.main-body {
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    min-width: 351px;
    max-width: 1440px;
    align-self: center;
}

.splash-image {
    width: 100%;
    height: 448px;
    background-image: url("../images/sample_background_image_1920x1280.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
    margin-bottom: 32px;
}

.splash-button {
    grid-column: 2;
    grid-row: 4;
    margin: auto;
    width: 256px;
    height: 64px;
    background-color: black;
    color: white;
    font-size: 32px;
    font-style: normal;
    border: none;
    border-radius: 8px;
}

.splash-header {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    font-size: 80px;
    font-style: normal;
    color: black;
    text-align: center;
    width: auto;
}

.splash-text {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    font-size: 32px;
    font-style: normal;
    color: black;
    text-align: center;
    width: auto;
}

.attractions-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 16px;
    row-gap: 16px;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.attractions-card {
    width: auto;
    height: auto;
    min-height: 256px;
    background-color: lightgray;
    border-radius: 8px;
    vertical-align: bottom;
    display: flex;
}

.attractions-header-div {
    align-self: flex-end;
    width: 100%;
}

.attractions-header {
    font-size: 48px;
    font-style: normal;
    color: white;
    text-align: center;
    margin: auto;
    vertical-align: bottom;
    text-align: center;
}