@media only screen and (max-width: 600px) {
    header {
        height: 8em;
    }

    .logo{
        width: 100%;
        object-fit: contain;
    }

    .header-menu {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .header-menu-link {
        padding: 0.5em;
        /* background-color: rgb(236, 236, 236); */
    }

    .header-menu-link:hover {
        /* background-color: gray; */
        /* color: white; */
    }

    .main-body-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
    }

    .social-media-feed {
        display: none;
    }

    footer {
        margin-top: 0em;
    }

    .footer-grid {
        grid-template-columns: auto auto;;
        grid-template-rows: auto auto;
        padding: 1em 1em;
        width: 100%;
    }

    .logo-footer {
        height: 4em;
        width: auto;
    }

    .footer-link {
        width: max-content;
    }

    .footer-social-media {
        display: none;
    }
}